a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
.movieList .ant-card {
  position: relative;
  overflow: hidden;
}
.movieList .ant-card .ant-card-meta-title {
  font-weight: bold;
  font-size: 1.2rem;
}
.movieList .ant-card .ant-card-meta-description {
  font-weight: 500;
  font-size: 14px;
}
.movieList .movieAction {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  height: 69%;
  opacity: 0;
  transition: all 0.3s;
}
.movieList .ant-card:hover .movieAction {
  opacity: 1;
}
.movieList .movieAction .movieButton {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  text-align: center;
}
.movieList .movieAction .movieButton button:hover {
  color: rgb(239 68 68) !important;
}
.movieList .movieAction .playButton {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}
#fastTicket {
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  transform: translateY(-50%);
  margin: auto;
}
#fastTicket form select {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
