#infoTicket {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
#infoTicket h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#infoTicket p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  padding-left: 10px;
}
#purchasePage .ticket {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
#bgModal {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/assets/img/bgAuth.jpg");
  background-size: cover;
  position: relative;
}
#bgModal .modalLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.activeColor {
  background-color: rgba(11, 156, 49, 0.9) !important;
}
#modalConfirm {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#modalConfirm .confirm {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#modalConfirm .confirm button {
  transition: all 0.3s;
}
#modalConfirm .confirm button:first-child:hover {
  color: rgb(34 197 94) !important;
}
#modalConfirm .confirm button:last-child:hover {
  color: rgb(239 68 68) !important;
}
