#detailPage {
  background-image: linear-gradient(gray, white);
}
#movieDetail {
  position: relative;
}
#movieDetail img {
  width: 240px;
}
#movieDetail .playButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

#movieDetail:hover .playButton {
  opacity: 1;
}
#movieDetail .playButton img {
  width: 100%;
  transform: translateY(100%);
}
.ant-modal-wrap .ant-modal {
  padding: 0;
  height: 75%;
}
.ant-modal-wrap .ant-modal .ant-modal-content {
  height: 100%;
  padding: 0;
}
.ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body {
  height: 100%;
}
